
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
    background-image: url(email-pattern.png);
    margin: 0px 8px;
}


.container{
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 15px;
}

ul.link {
    padding: 0%;
    text-align: end;
}

.header ul li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;

}

.header a{
    text-decoration: none;
    padding: 3px;
    font-size: 16px;
}

.header a:hover{
    background-color: rgb(0, 157, 255);
    color: white;

}

.hero{
    height: 300px;
    background-image: url(marvin-meyer-SYTO3xs06fU-unsplash.png);
    background-size: cover;
    background-position: 0 -20px;
    background-repeat: no-repeat;
}

.main{
    padding-top: 15px;
    float: left;
    width: 65%;
}

.artikel{
    text-align: justify;
    text-indent: 30px;
}

.penulis{ 
    font-size: 14px;
    margin-top: -15px;
}

.footer p{
    text-align: center;
    font-size: 15px;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/* -------------- */

.tentang{
    float: right;
    width: 30%;
    padding-top: 15px;
}

.tentang img {
    width: 30%;
    float: left;
    margin-right: 10px;
}

.tentang p{
    font-size: small;
    text-align: justify;
    text-indent: 10px;
}