
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
    background-image: url(email-pattern.png);
    margin: 0px 8px;
}

.topbar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 30px;
    height: 70px;
    background-color: beige;
}

.topbar h2{
    width: 200px;
    margin-right: 100px;
    float: left;
}

.link{
    position: absolute;
    top: 45%;
    right: 3%;
}

.link a{
    margin-right: 10px;
}

.container{
    width: 80%;
    margin: 70px auto 0px;
    background-color: white;
    padding: 15px;
}


.hero{
    height: 300px;
    background-image: url(marvin-meyer-SYTO3xs06fU-unsplash.png);
    background-size: cover;
    background-position: 0 -20px;
    background-repeat: no-repeat;
}

.main{
    padding-top: 15px;
    float: left;
    width: 65%;
}

.artikel{
    text-align: justify;
    text-indent: 30px;
}

.penulis{ 
    font-size: 14px;
    margin-top: -15px;
}

.footer p{
    text-align: center;
    font-size: 15px;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/* -------------- */

.tentang{
    float: right;
    width: 30%;
    padding-top: 15px;
}

.tentang img {
    width: 30%;
    float: left;
    margin-right: 10px;
}

.tentang p{
    font-size: small;
    text-align: justify;
    text-indent: 10px;
}